.guessContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 10%;
}
body {
  background-color: transparent !important;
}
.guessInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 35px;
}
.guessButton {
  width: 180px;
}
.ButtonBox {
  padding: 20px;
  margin-left: 10px;
}

.innerGuessContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20%;
  border-style: double;
  border-color: grey;
  background-color: whitesmoke;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  border-width: 10px;
  height: 600px;
  width: 700px;
}
html {
  background: url(bg.jpg) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  opacity: 0;
}

.spanishWord {
  font-size: 100px;
  align-self: center;
  margin-top: 5vh;
}

.score {
  align-self: center;

  padding-bottom: 0;
}
.wordAndForm {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-xxl {
  font-size: 1.8rem;
}
