.page-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.formContainer {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}
.bCont {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.popupContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}
.popupPadding {
  padding: 15px;
}
.tFld {
  align-self: center;
  width: 100%;
}
